﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<<<<<<< HEAD
<p>Hello..bye sharul</p>
=======
<p>Hello..bye sharul </p>
>>>>>>> c52952b1c9cc3defd2057fcd2c427aab95805002
