﻿@model MVCApplication.Models.AccountModel
@{
    Layout = null;
}
 
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="Scripts/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

     @Scripts.Render("~/js")
 </head>
<body>
    
         @using (Html.BeginForm("SaveRegister", "Account", FormMethod.Post, new { @id = "frmregister" }))
         {  
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName,new { @style = "margin-left:3px;" })   :  @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control",@style="width: 316px;margin-left:3px;" }) 
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @style = "margin-left:3px;" }) : @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @style = "width: 316px;margin-left:3px;" }) 
                @Html.ValidationMessageFor(m => m.LastName)
             </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @style = "margin-left:3px;" }) : @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "width: 316px;margin-left:3px;" }) 
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Age, new { @style = "margin-left:3px;" }) : @Html.TextBoxFor(m => m.Age, new { @class = "form-control", @style = "width: 316px;margin-left:3px;" }) 
                @Html.ValidationMessageFor(m => m.Age)
            </div>
                    @*@Html.LabelFor(m => m.Email) : @Html.TextBoxFor(m => m.Email)<br />
                      @Html.ValidationMessageFor(m => m.Email)<br />
                      @Html.LabelFor(m => m.Age) : @Html.TextBoxFor(m => m.Age)<br />
                      @Html.ValidationMessageFor(m => m.Age)<br />*@ 
                <input type="submit" id="btnsave" name="name" class="btn btn-primary" style="margin-left:5px;" value="Save" />
                }
                <div>
                    <div id="abc1" class="divtest">

                    </div>
                    <div id="abc2" class="divtest"></div>
                </div>
</body>
</html>
